# PostgreSQL

spring.datasource.url = jdbc:postgresql://localhost:5432/debatr?createDatabaseIfNotExist=true
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username = postgres
spring.datasource.password = password

# JPA

spring.jpa.hibernate.ddl-auto = create
spring.jpa.show-sql = true
spring.jpa.open-in-view = true
spring.jpa.hibernate.naming.physical-strategy = org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

# THYMELEAF

spring.thymeleaf.cache = false
spring.security.user.username=username
spring.security.user.password=password

# Email
mail.smtp.host = smtp.gmail.com
mail.smtp.port = 465
mail.smtp.ssl.enable = true
mail.smtp.auth = true
username = XXX
password = XXX

# JWT Related
secret = uma_string_segura_e_secreta

# AWS Auth
aws.access-key-id = XXX
aws.secret-access-key = XXX
aws.bucket-name = bucket_name