<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>${forum.titulo}</title>
  </head>

  <body>
    <section class="layout-content" th:fragment="foruns">
      <div
        th:if="${foruns != null && foruns.size() == 0}"
        class="container mt-5 mb-5"
      >
        <h1>Não há nada aqui... ainda</h1>
      </div>
      <div class="forum" th:each="forum: ${foruns}">
        <div class="details">
          <div class="forumIcon">
            <div th:switch="${forum.iconImageUrl == null}" class="forumIcon">
              <img th:case="true" th:src="@{/image/default-forum.png}" />
              <img th:case="false" th:src="@{${forum.iconImageUrl}}" />
            </div>
          </div>
          <div class="forumInformation">
            <a th:href="@{/forum/{id} (id=${forum.id})}">
              <h1 th:text="${forum.title}"></h1>
            </a>
            <h2 th:text="${forum.accessScope == 1 ? 'livre' : 'restrito'}"></h2>
          </div>
          <div
            class="action"
            th:if="${forum.accessScope == 2 && currentUser.ar == 0 && forum.isMember(#request.userPrincipal.getName()) == false}"
          >
            <div class="lockImage">
              <i class="bx bxs-lock-alt"></i>
            </div>
          </div>
          <div
            class="action"
            th:if="${forum.accessScope != 2 || currentUser.ar != 0}"
          >
            <div th:replace="fragments/signButton :: button"></div>
          </div>
        </div>

        <div class="description">
          <h2 th:text="${forum.description}"></h2>
        </div>
        <hr />
      </div>
    </section>
  </body>
</html>
