<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>${forum.titulo}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <section class="layout-content" th:fragment="foruns">
        <div class="forum" th:each="forum: ${foruns}">
            <div class="details">
                <div class="forumIcon">
                    <img src="https://seeklogo.com/images/U/ufscar-logotipo-logo-E01F858A9C-seeklogo.com.png" />
                </div>
                <div class="forumInformation">
                    <a href="#">
                        <h1 th:text="${forum.title}"></h1>
                    </a>
                    <h2 th:text="${forum.accessScope == 1 ? 'livre' : 'restrito'}"></h2>
                </div>
            </div>
            <div class="description">
                <h2 th:text="${forum.description}"></h2>
            </div>
            <hr />
        </div>
    </section>
</body>

</html>