<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <title>Alterar senha</title>

    <!--  Importa os arquivos do Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--A form so the user can choose a new password-->
    <form th:action="@{/config/change-password}" method="post">
        <div class="container">

            <h5 class="card-title text-center">Alterar senha</h5>
            <div class="form-label-group">
                <label for="inputPassword">Nova senha</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Nova senha"
                    required autofocus>
            </div>

            <div class="form-label-group">
                <label for="inputPassword">Confirmar senha</label>
                <input type="password" id="inputConfirmPassword" name="passwordConfirm" class="form-control"
                    placeholder="Confirmar senha" required>
            </div>

            <input type="hidden" name="token" th:value="${token}" />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Alterar senha</button>

        </div>
    </form>
</body>

</html>