<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
    <script th:src="@{/js/sidebar.js}"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <style>
      .invalid-feedback {
        margin-left: 10px;
        display: block;
      }

      .error {
        margin-right: 5px;
      }
    </style>
  </head>

  <body>
    <div class="layout-main">
      <aside>
        <nav th:replace="fragments/sidebar :: nav-sidebar">
          <span>menu</span>
        </nav>
      </aside>

      <section class="content" layout:fragment="corpo">
        <div>conteúdo principal das páginas</div>
      </section>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
